@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #ffc0cb;
  color: white;
  font-family: "Patrick Hand", cursive;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}
a {
  color: #fff;
}

h1 {
  line-height: #fff;
}

.screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: margin 0.5s ease-out;
}

.screen.up {
  margin-top: -100vh;
}

.btn {
  background-color: #fff;
  color: blueviolet;
  border: 0;
  padding: 15px 20px;
  cursor: pointer;
  font-family: inherit;
}

.btn:hover {
  opacity: 0;
}

.btn:focus {
  outline: 0;
}

.insects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.insects-list li {
  margin: 10px;
}
.choose-insect-btn:hover {
  background-color: #fff;
}

.choose-insect-btn:hover {
  background-color: rgba(255, 255, 255, 255);
}

.choose-insect-btn {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-family: inherit;
  width: 150px;
  height: 150px;
}

.choose-insect-btn img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.game-container {
  position: relative;
}

.time,
.score {
  position: absolute;
  top: 20px;
}

.time {
  left: 20px;
}

.score {
  right: 20px;
}

/* .message {
  line-height: 1.7;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 20px;
  z-index: 1000;
  text-align: center;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
  transition: transform 0.4s ease-in;
} */
.message {
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 1.7;
  width: 100%;
  padding: 20px;
  margin: 0;
  opacity: 0;
}

.message.visible {
  opacity: 1;
  transform: translateY(-50vh);
}

.insect {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: absolute;
  transition: transform 0.4s ease-out;
  transform: translate(-50%, -50%) scale(1);
}

.insect.caught {
  transform: translate(-50%, -50%) scale(0);
}

.insect img {
  width: 100px;
  height: 100px;
}
